In [3]:
import pandas as pd
import os
import glob

In [4]:
path = os.getcwd()
files = os.listdir(r'C:\Users\milan\OneDrive\Desktop\Projects\BFI')
files
len(files)

33

In [5]:
df = pd.DataFrame()
# specifying the path to csv files
path = r"C:\Users\milan\OneDrive\Desktop\Projects\BFI"

# csv files in the path
file_list = glob.glob(path + "/*.xlsx")
xls_list=glob.glob(path + "/*.xls")

# list of excel files we want to merge.
# pd.read_excel(file_path) reads the excel
# data into pandas dataframe.
excl_list = []
xlsx_list=[]
for file in file_list:
	excl_list.append(pd.read_excel(file))
for xl in xls_list:
    xlsx_list.append(pd.read_excel(xl))

# create a new dataframe to store the
# merged excel file.
excl_merged = pd.DataFrame()
xls_merged=pd.DataFrame()

for excl_file in excl_list:
	
	# appends the data into the excl_merged
	# dataframe.
	excl_merged = excl_merged.append(excl_file, ignore_index=True)

for xls_file in xlsx_list:
	
	# appends the data into the excl_merged
	# dataframe.
	xls_merged = xls_merged.append(xls_file, ignore_index=True)

C:\Users\milan\AppData\Local\Temp\ipykernel_9760\141182805.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  excl_merged = excl_merged.append(excl_file, ignore_index=True)
C:\Users\milan\AppData\Local\Temp\ipykernel_9760\141182805.py:34: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  xls_merged = xls_merged.append(xls_file, ignore_index=True)

In [6]:
excl_merged

,BFI Weekend Box Office 07/04/2023 - 09/04/2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,BFI Weekend Box Office 30/06/2023 - 02/07/2023,BFI Weekend Box Office 09/06/2023 - 11/06/2023,BFI Weekend Box Office 17/03/2023 - 19/03/2023,BFI Weekend Box Office 24/03/2023 - 26/03/2023,BFI Weekend Box Office 31/03/2023 - 02/04/2023,Unnamed: 12,BFI Weekend Box Office 12/05/2023 - 14/05/2023,BFI Weekend Box Office 19/05/2023 - 21/05/2023,BFI Weekend Box Office 26/05/2023 - 28/05/2023,BFI Weekend Box Office 05/05/2023 - 07/05/2023
0,Rank,Film,Country of Origin,Weekend Gross,Distributor,% change on last week,Weeks on release,Number of cinemas,Site average,Total Gross to date,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,The Super Mario Bros. Movie,USA/Jpn,15691810,Universal,-,1,718,21855,15691810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Dungeons And Dragons: Honour Among Thieves,UK/USA/Can,1624628,eOne Films,-0.541629,2,682,2382,7484878,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,John Wick: Chapter 4,USA,1286221,Lionsgate,-0.504118,3,613,2098,12933430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Air,USA,1174554,Warner Bros,-,1,597,1967,1174554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,NaN,Pamfir,Ukr/Fra/Pol/Chl/Lux,7272,Conic Films Limited,-,1,18,404,7272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37
1063,NaN,Ramabanam,Ind,6980,Dreamz Entertainment,-,1,10,698,6980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39
1064,NaN,Harka,Tun/Fra/Lux/Bel/Deu/USA,1336,Studio Soho Distribution,-,1,7,191,1336,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73
1065,NaN,Jodi (Ireland),Ind,443,Aariv Group Ltd,-,1,1,443,443,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85
1066,NaN,Ip Man: The Awakening,Chn,153,Kaleidoscope,-,1,8,19,153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86

In [7]:
xls_merged

,BFI Weekend Box Office 10/02/2023 - 12/02/2023,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,BFI Weekend Box Office 17/02/2023 - 19/02/2023,BFI Weekend Box Office 24/02/2023 - 26/02/2023,BFI Weekend Box Office 03/02/2023 - 05/02/2023,BFI Weekend Box Office 06/01/2023 - 08/01/2023,BFI Weekend Box Office 13/01/2023 - 15/01/2023,BFI Weekend Box Office 20/01/2023 - 22/01/2023,BFI Weekend Box Office 27/01/2023 - 29/01/2023,BFI Weekend Box Office 03/03/2023 - 05/03/2023,BFI Weekend Box Office 10/03/2023 - 12/03/2023
0,Rank,Film,Country of Origin,Weekend Gross,Distributor,% change on last week,Weeks on release,Number of cinemas,Site average,Total Gross to date,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Puss In Boots: The Last Wish,USA,3066908,Universal,-0.382956,2,697,4400,9188501,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Magic Mike's Last Dance,USA,1529155,Warner Bros,-,1,647,2363,1529155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Titanic (Re: 2023),USA,870646,Disney,-,1,482,1806,870646,...,Hello to Jason Isaacs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Avatar: The Way Of Water,USA,831697,Disney,-0.355715,9,540,1540,74257077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,NaN,The Middle Man,Nor/Can/Deu/Dnk,1092,Sovereign Film Distribution,-,1,7,156,1092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88
441,NaN,Thuramukham,Ind,919,DG Tech,-,1,10,92,919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91
442,NaN,Agilan (Ireland),Ind,565,2G Entertainments Ltd,-,1,6,94,565,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94
443,NaN,Thuramukham (Ireland),Ind,338,2G Entertainments Ltd,-,1,2,169,338,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96
444,NaN,Mitran Da Naa Chalda (Ireland),Ind,185,2G Entertainments Ltd,-,1,2,93,185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98

In [8]:
final_list=[excl_merged,xls_merged]

In [9]:
df=pd.concat(final_list)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1512 entries, 0 to 444
Data columns (total 49 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   BFI Weekend Box Office 07/04/2023 - 09/04/2023  53 non-null     object
 1   Unnamed: 1                                      1510 non-null   object
 2   Unnamed: 2                                      1510 non-null   object
 3   Unnamed: 3                                      1510 non-null   object
 4   Unnamed: 4                                      1504 non-null   object
 5   Unnamed: 5                                      1464 non-null   object
 6   Unnamed: 6                                      1510 non-null   object
 7   Unnamed: 7                                      1510 non-null   object
 8   Unnamed: 8                                      1510 non-null   object
 9   Unnamed: 9                                      1510 non-null   object
 10  Unnamed: 10                                     0 non-null      float64
 11  #                                               0 non-null      float64
 12  #.1                                             0 non-null      float64
 13  Unnamed: 13                                     0 non-null      float64
 14  Unnamed: 14                                     0 non-null      float64
 15  Unnamed: 15                                     0 non-null      float64
 16  Unnamed: 16                                     1 non-null      object
 17  Unnamed: 17                                     31 non-null     object
 18  BFI Weekend Box Office 14/04/2023 - 16/04/2023  59 non-null     object
 19  BFI Weekend Box Office 21/04/2023 - 23/04/2023  58 non-null     object
 20  BFI Weekend Box Office 28/04/2023 - 30/04/2023  56 non-null     object
 21  BFI Weekend Box Office 04/08/2023 - 06/08/2023  39 non-null     object
 22  BFI Weekend Box Office 14/07/2023 - 16/07/2023  40 non-null     object
 23  BFI Weekend Box Office 21/07/2023 - 23/07/2023  43 non-null     object
 24  BFI Weekend Box Office 28/07/2023 - 30/07/2023  39 non-null     object
 25  BFI Weekend Box Office 07/07/2023 - 09/07/2023  45 non-null     object
 26  BFI Weekend Box Office 16/06/2023 - 18/06/2023  38 non-null     object
 27  BFI Weekend Box Office 02/06/2023 - 04/06/2023  49 non-null     object
 28  BFI Weekend Box Office 23/06/2023 - 25/06/2023  48 non-null     object
 29  BFI Weekend Box Office 30/06/2023 - 02/07/2023  104 non-null    object
 30  BFI Weekend Box Office 09/06/2023 - 11/06/2023  48 non-null     object
 31  BFI Weekend Box Office 17/03/2023 - 19/03/2023  59 non-null     object
 32  BFI Weekend Box Office 24/03/2023 - 26/03/2023  59 non-null     object
 33  BFI Weekend Box Office 31/03/2023 - 02/04/2023  45 non-null     object
 34  Unnamed: 12                                     0 non-null      float64
 35  BFI Weekend Box Office 12/05/2023 - 14/05/2023  50 non-null     object
 36  BFI Weekend Box Office 19/05/2023 - 21/05/2023  47 non-null     object
 37  BFI Weekend Box Office 26/05/2023 - 28/05/2023  47 non-null     object
 38  BFI Weekend Box Office 05/05/2023 - 07/05/2023  41 non-null     object
 39  BFI Weekend Box Office 10/02/2023 - 12/02/2023  44 non-null     object
 40  BFI Weekend Box Office 17/02/2023 - 19/02/2023  47 non-null     object
 41  BFI Weekend Box Office 24/02/2023 - 26/02/2023  44 non-null     object
 42  BFI Weekend Box Office 03/02/2023 - 05/02/2023  46 non-null     object
 43  BFI Weekend Box Office 06/01/2023 - 08/01/2023  35 non-null     object
 44  BFI Weekend Box Office 13/01/2023 - 15/01/2023  40 non-null     object
 45  BFI Weekend Box Office 20/01/2023 - 22/01/2023  47 non-null     object
 46  BFI Weekend Box Office 27/01/2023 - 29/01/2023  39 non-null     object
 47  BFI Weekend Box Office 03/03/2023 - 05/03/2023  48 non-null     object
 48  BFI Weekend Box Office 10/03/2023 - 12/03/2023  54 non-null     object
dtypes: float64(7), object(42)
memory usage: 590.6+ KB

In [112]:
pd.options.display.max_columns = None
df.count()

BFI Weekend Box Office 07/04/2023 - 09/04/2023      53
Unnamed: 1                                        1510
Unnamed: 2                                        1510
Unnamed: 3                                        1510
Unnamed: 4                                        1504
Unnamed: 5                                        1464
Unnamed: 6                                        1510
Unnamed: 7                                        1510
Unnamed: 8                                        1510
Unnamed: 9                                        1510
Unnamed: 10                                          0
#                                                    0
#.1                                                  0
Unnamed: 13                                          0
Unnamed: 14                                          0
Unnamed: 15                                          0
Unnamed: 16                                          1
Unnamed: 17                                         31
BFI Weekend Box Office 14/04/2023 - 16/04/2023      59
BFI Weekend Box Office 21/04/2023 - 23/04/2023      58
BFI Weekend Box Office 28/04/2023 - 30/04/2023      56
BFI Weekend Box Office 04/08/2023 - 06/08/2023      39
BFI Weekend Box Office 14/07/2023 - 16/07/2023      40
BFI Weekend Box Office 21/07/2023 - 23/07/2023      43
BFI Weekend Box Office 28/07/2023 - 30/07/2023      39
BFI Weekend Box Office 07/07/2023 - 09/07/2023      45
BFI Weekend Box Office 16/06/2023 - 18/06/2023      38
BFI Weekend Box Office 02/06/2023 - 04/06/2023      49
BFI Weekend Box Office 23/06/2023 - 25/06/2023      48
BFI Weekend Box Office 30/06/2023 - 02/07/2023     104
BFI Weekend Box Office 09/06/2023 - 11/06/2023      48
BFI Weekend Box Office 17/03/2023 - 19/03/2023      59
BFI Weekend Box Office 24/03/2023 - 26/03/2023      59
BFI Weekend Box Office 31/03/2023 - 02/04/2023      45
Unnamed: 12                                          0
BFI Weekend Box Office 12/05/2023 - 14/05/2023      50
BFI Weekend Box Office 19/05/2023 - 21/05/2023      47
BFI Weekend Box Office 26/05/2023 - 28/05/2023      47
BFI Weekend Box Office 05/05/2023 - 07/05/2023      41
BFI Weekend Box Office 10/02/2023 - 12/02/2023      44
BFI Weekend Box Office 17/02/2023 - 19/02/2023      47
BFI Weekend Box Office 24/02/2023 - 26/02/2023      44
BFI Weekend Box Office 03/02/2023 - 05/02/2023      46
BFI Weekend Box Office 06/01/2023 - 08/01/2023      35
BFI Weekend Box Office 13/01/2023 - 15/01/2023      40
BFI Weekend Box Office 20/01/2023 - 22/01/2023      47
BFI Weekend Box Office 27/01/2023 - 29/01/2023      39
BFI Weekend Box Office 03/03/2023 - 05/03/2023      48
BFI Weekend Box Office 10/03/2023 - 12/03/2023      54
dtype: int64

In [114]:
df.to_csv('finalfile.csv')

In [10]:
cols=df.values[:1].tolist()
cols

[['Rank',
  'Film',
  'Country of Origin',
  'Weekend Gross',
  'Distributor',
  '% change on last week',
  'Weeks on release',
  'Number of cinemas',
  'Site average',
  'Total Gross to date',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan]]

In [11]:
df.set_axis(cols, axis="columns",inplace=True)

In [12]:
df

,Rank,Film,Country of Origin,Weekend Gross,Distributor,% change on last week,Weeks on release,Number of cinemas,Site average,Total Gross to date,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Rank,Film,Country of Origin,Weekend Gross,Distributor,% change on last week,Weeks on release,Number of cinemas,Site average,Total Gross to date,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,The Super Mario Bros. Movie,USA/Jpn,15691810,Universal,-,1,718,21855,15691810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Dungeons And Dragons: Honour Among Thieves,UK/USA/Can,1624628,eOne Films,-0.541629,2,682,2382,7484878,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,John Wick: Chapter 4,USA,1286221,Lionsgate,-0.504118,3,613,2098,12933430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Air,USA,1174554,Warner Bros,-,1,597,1967,1174554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,NaN,The Middle Man,Nor/Can/Deu/Dnk,1092,Sovereign Film Distribution,-,1,7,156,1092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88
441,NaN,Thuramukham,Ind,919,DG Tech,-,1,10,92,919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91
442,NaN,Agilan (Ireland),Ind,565,2G Entertainments Ltd,-,1,6,94,565,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94
443,NaN,Thuramukham (Ireland),Ind,338,2G Entertainments Ltd,-,1,2,169,338,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96
444,NaN,Mitran Da Naa Chalda (Ireland),Ind,185,2G Entertainments Ltd,-,1,2,93,185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98

In [13]:
df1=df.drop([0])

In [14]:
df1.drop(columns=['NaN'])

,Rank,Film,Country of Origin,Weekend Gross,Distributor,% change on last week,Weeks on release,Number of cinemas,Site average,Total Gross to date,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,The Super Mario Bros. Movie,USA/Jpn,15691810,Universal,-,1,718,21855,15691810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Dungeons And Dragons: Honour Among Thieves,UK/USA/Can,1624628,eOne Films,-0.541629,2,682,2382,7484878,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,John Wick: Chapter 4,USA,1286221,Lionsgate,-0.504118,3,613,2098,12933430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Air,USA,1174554,Warner Bros,-,1,597,1967,1174554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,The Pope's Exorcist,USA,707050,Sony Pictures,-,1,433,1633,707050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,NaN,The Middle Man,Nor/Can/Deu/Dnk,1092,Sovereign Film Distribution,-,1,7,156,1092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88
441,NaN,Thuramukham,Ind,919,DG Tech,-,1,10,92,919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91
442,NaN,Agilan (Ireland),Ind,565,2G Entertainments Ltd,-,1,6,94,565,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94
443,NaN,Thuramukham (Ireland),Ind,338,2G Entertainments Ltd,-,1,2,169,338,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96
444,NaN,Mitran Da Naa Chalda (Ireland),Ind,185,2G Entertainments Ltd,-,1,2,93,185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98

In [15]:
df1.drop(df1.columns[[10, 15, 2]], axis=1, inplace=True)

In [16]:
df1

,Rank,Film,Weekend Gross,Distributor,% change on last week,Weeks on release,Number of cinemas,Site average,Total Gross to date
1,1,The Super Mario Bros. Movie,15691810,Universal,-,1,718,21855,15691810
2,2,Dungeons And Dragons: Honour Among Thieves,1624628,eOne Films,-0.541629,2,682,2382,7484878
3,3,John Wick: Chapter 4,1286221,Lionsgate,-0.504118,3,613,2098,12933430
4,4,Air,1174554,Warner Bros,-,1,597,1967,1174554
5,5,The Pope's Exorcist,707050,Sony Pictures,-,1,433,1633,707050
...,...,...,...,...,...,...,...,...,...
440,NaN,The Middle Man,1092,Sovereign Film Distribution,-,1,7,156,1092
441,NaN,Thuramukham,919,DG Tech,-,1,10,92,919
442,NaN,Agilan (Ireland),565,2G Entertainments Ltd,-,1,6,94,565
443,NaN,Thuramukham (Ireland),338,2G Entertainments Ltd,-,1,2,169,338
444,NaN,Mitran Da Naa Chalda (Ireland),185,2G Entertainments Ltd,-,1,2,93,185

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1510 entries, 1 to 444
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   (Rank,)                   52 non-null     object
 1   (Film,)                   1508 non-null   object
 2   (Weekend Gross,)          1508 non-null   object
 3   (Distributor,)            1502 non-null   object
 4   (% change on last week,)  1462 non-null   object
 5   (Weeks on release,)       1508 non-null   object
 6   (Number of cinemas,)      1508 non-null   object
 7   (Site average,)           1508 non-null   object
 8   (Total Gross to date,)    1508 non-null   object
dtypes: object(9)
memory usage: 118.0+ KB

In [18]:
df1.drop(columns=['Rank'],axis=1,inplace=True)

C:\Users\milan\AppData\Local\Temp\ipykernel_9760\3982041018.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df1.drop(columns=['Rank'],axis=1,inplace=True)

In [19]:
df1.reset_index()

,index,Film,Weekend Gross,Distributor,% change on last week,Weeks on release,Number of cinemas,Site average,Total Gross to date
0,1,The Super Mario Bros. Movie,15691810,Universal,-,1,718,21855,15691810
1,2,Dungeons And Dragons: Honour Among Thieves,1624628,eOne Films,-0.541629,2,682,2382,7484878
2,3,John Wick: Chapter 4,1286221,Lionsgate,-0.504118,3,613,2098,12933430
3,4,Air,1174554,Warner Bros,-,1,597,1967,1174554
4,5,The Pope's Exorcist,707050,Sony Pictures,-,1,433,1633,707050
...,...,...,...,...,...,...,...,...,...
1505,440,The Middle Man,1092,Sovereign Film Distribution,-,1,7,156,1092
1506,441,Thuramukham,919,DG Tech,-,1,10,92,919
1507,442,Agilan (Ireland),565,2G Entertainments Ltd,-,1,6,94,565
1508,443,Thuramukham (Ireland),338,2G Entertainments Ltd,-,1,2,169,338
1509,444,Mitran Da Naa Chalda (Ireland),185,2G Entertainments Ltd,-,1,2,93,185

In [20]:
df1.describe()

,Film,Weekend Gross,Distributor,% change on last week,Weeks on release,Number of cinemas,Site average,Total Gross to date
count,1508,1508,1502,1462,1508,1508,1508,1508
unique,641,1387,128,654,187,419,925,1422
top,Film,Weekend Gross,Universal,-,1,1,Site average,Total Gross to date
freq,30,30,127,532,531,133,30,30

In [23]:
df1.to_csv('finalfile1.csv')